/*
This is a CSS comment. It's helpful to place notes here.
Anything you type between the opening [forward slash + asterisk] and the
closing [asterisk + forward slash] is not considered a CSS rule.
Use comments to organize your CSS file, indicate sections, or explain
what rules below a comment may affect on the website.
*/

body {
  padding: 25px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

p {
  color: black;
}
