/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  height: 400px;
  min-height: 200px;
  max-height: 400px;
  object-fit: cover;
}

h2 {
  margin-bottom: 20px;
}

#myCarousel, #intro, #work, #values, #about {
  margin-bottom: 35px;
}

#work img {
  height: 95px;
  padding: 0 25px;
  object-fit: contain;
}
.text-black {
  color: #000;
}
.text-shadow-white {
  text-shadow: 0 1px 2px rgba(255,255,255,.6);
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  /* .carousel-caption {
    display: none;
  } */
}
